.project-item__content__infos {
  margin: 0 1rem;
  text-align: left;
}

.project-item__content__infos h3 {
  font-size: 1.3rem;
  text-decoration: underline;
  margin-bottom: 1rem;
  color: #1ba49c;
}

.project-item__content__infos p {
  margin-bottom: 0.5rem;
}

.project-item__content__infos__about-title {
  margin-top: 1rem;
}

.btn-code, .btn-website {
  width: 250px;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: 900;
  border-radius: 2px;
}

.project-item__content__infos__buttons {
  margin: 1.5rem 0;
}

.project-item__content__infos__buttons button {
  margin-right: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.btn-code {
  border: solid 2px #1ba49c;
  color: #1ba49c
}

.btn-code:hover {
  border: solid 2px #1ba49c;
  background-color: #1ba49c;
  color: #fff;
}

.btn-website {
  border: solid 2px #1ba49c;
  background: #1ba49c;
  background: linear-gradient(90deg, rgba(6,188,155,1) 0%, rgba(27,164,156,1) 100%);
  color: #fff;
}

.btn-website:hover {
  border: solid 2px #1ba49c;
  background: #1ba49c;
  background: linear-gradient(90deg, rgba(27,164,156,1) 0%, rgba(6,188,155,1) 100%);
  color: #fff;
}