.header {
  padding: 2rem 1.5rem 0rem 1.5rem;
  border: 2px solid #f3f3f3;
  border-top: 0px;
}

.header__logo {
  font-family: 'Anton', sans-serif;
  font-size: 2rem;

  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: #1ba49c;
  position: absolute;
  top: -50px;
  margin-top: 10px;
}

.header__logo:after {
  font-family: 'Anton', sans-serif;
  font-size: 2rem;

  content: '';
  position: absolute;
  left: -50px;
  top: 49px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: #1ba49c;
}

.logo {
  color: #fff;
  position: absolute;

  top: 33px;
  right: -21px;
  z-index: 1;
}

.header__navigation {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__navigation-items ul {
  display: flex;
}

.header__navigation-items li {
  margin: 0 0.8rem;
  color: rgba(82,93,104,.7);
  padding-bottom: 1rem;
}

.header__navigation-items li:hover {
  color: #1ba49c;
}

.spacer {
  flex: 1;
}

@media (min-width: 769px) {
  .header__toggle-button {
    display: none;
  }
}

@media (max-width: 769px) {
  .header__navigation-items {
    display: none;
  }

  .header {
    border: none;
  }

  .header__toggle-button {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  
  .header__logo {
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
  
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: #1ba49c;
    position: absolute;
    top: -42px;
    margin-top: 10px;
  }
  
  .header__logo:after {
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
  
    content: '';
    position: absolute;
    left: -50px;
    top: 49px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top-color: #1ba49c;
  }
  
  .logo {
    color: #fff;
    position: absolute;
  
    top: 33px;
    right: -21px;
    z-index: 1;
  }
}
