.presentation {
  text-align: center;
  margin: 6rem 0rem 3rem 0rem;
}

.presentation__text {
  font-size: 4rem;
  line-height: 5rem;
}

.presentation__first-line {
  display: inline-block;
}

.presentation__second-line {
  font-size: 3rem;
  color: #1ba49c;
}

.presentation__second-line span {
  text-decoration: underline;
}
